@import "root.css";
@import "buttons.css";

*{
    box-sizing: border-box;
    color:var(--white-primary);
    font-family:var(--font-primary);
    margin: 0;
    padding: 0;
}


.nav{
   width: 100%;
   position: fixed;
   z-index: 1;
}


/* start blocks flex */

.nav__block, .nav__name,.nav__primary, .nav__item, .nav__socials, .nav__socials-item{
    display: flex;
}



/* End blocks flex */


.nav__block{
    flex-direction: row;
}


.nav__name{
    width: 15%;
    align-items: center;
    margin: 15px;
}


.nav__link{
    text-decoration: none;
    font-size: 1rem;
}


.nav__link--logo{
    font-size: 26px;
    font-weight: bold;
}


.nav__primary{
    width: 70%;
    align-items: center;
    justify-content: center;
}


.nav__item{
    list-style: none;
}


.nav__item-1{
    margin: 10px 20px;
}


.nav__link--item{
    font-size: 16px;
    font-weight: 500;
}

.nav__link--item:hover{
    color: var(--teal-primary);
    transition: all 0.7s ;
}

.nav__socials{
    width: 15%;
    justify-content:end;
    align-items:center;
}


.nav__item-2{
    margin: 8px;
}

.main{
    position: absolute;
    background-image: url("../img/intro-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
}

.container-main{
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container__welcome, .container__jobs{
    margin: 10px;
}
.font__wc{
    font-size: 25px;
    font-weight: 600;
}

.font__jobs{
    font-size: 50px;
    font-weight: 600;   
}


.font__addres{
    font-size: 20px;
    font-weight: 600;   
}


.container__button{
    margin: 50px;
}

