*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #00AF1C;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 100%; 
}

.nav__logo{
    font-size: 32px;
}

.menu__ul{
    list-style: none;
    display: flex;
}

.ul__li{
    margin: 10px;
}

.link{
    text-decoration: none;
    color: white;
}

.section{
   position: absolute;
   margin-top: 80px;
}

.section__article{
    margin-top: 10px;
}

.article__home{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.home__title{
    color:  #3B06D2;
    margin: 10px;
}

.home__description{
    margin: 10px;
}

.home__description p{
    margin-bottom: 20px;
}

.home__carrusel{
    margin: 10px;
    display: flex;
    justify-content:last baseline;
}

.home__carrusel img{
    margin-right: 5px;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}

.aqua{
    color: aqua;   
}